<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.shiftplanet" xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShiftPlanet"
        tools:targetApi="34">
        <activity
            android:name=".EmployeeShiftChangeRequest"
            android:exported="false" />
        <activity
            android:name=".EmployeeWorkArrangement"
            android:exported="false" />
        <activity
            android:name=".EmployeeShiftChangeDialog"
            android:exported="false" />
        <activity
            android:name=".ManagerSentNotificationsPage"
            android:exported="false" />
        <activity
            android:name=".ManagerWorkArrangement"
            android:exported="false" />
        <activity
            android:name=".NotificationDetailActivityPage"
            android:exported="false" />
        <activity
            android:name=".EmployeeNotificationsPage"
            android:exported="false" />
        <activity
            android:name=".ManagerSendNotificationPage"
            android:exported="false" /> <!-- כל האקטיביטיז שאינם צריכים להיות נגישים מבחוץ (exported="false") -->
        <activity
            android:name=".EmployeeSubmitConstraintsPage"
            android:exported="false" />
        <activity
            android:name=".EmployeeRequestStatus"
            android:exported="false" />
        <activity
            android:name=".ManagerDialogRequestDetails"
            android:exported="false" />
        <activity
            android:name=".ManagerRequestPage"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".EmployeeRequestPage"
            android:exported="true" /> <!-- דף הבית של המנהל -->
        <activity
            android:name=".ManagerHomePage"
            android:exported="false" /> <!-- דף הבית של העובד -->
        <activity
            android:name=".EmployeeHomePage"
            android:exported="false" /> <!-- דף ההרשמה -->
        <activity
            android:name=".EmployeeProfile"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" /> <!-- דף הלוגין - נדרש להיות exported="true" כי זה הדף הראשון שנפתח באפליקציה -->
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- אם יש צורך במבחנים של Android, אז משתמשים ב- Library -->
        <uses-library
            android:name="android.test.runner"
            android:required="false" />
    </application>

</manifest>